<% if notice %>
  <p><%= notice %></p>
<% end %>
<div class="wrapper">
    <%= link_to "ツイートを作成する", new_tweet_path, class: 'btn btn-default' %>
  <% @tweets.each do |tweet| %>
  <div class="tweets row">
    <p><%= tweet.content %></p>
    <% #@tweetsが0の時、エラーになる %>
    <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
    <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
  </div>
  <% end %>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
</div>