<!DOCTYPE html>
<html>
<head>
  <title>mock_Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header row">
          <a href= "/"><span class="lnr lnr-home"></span><span class="header-word col-xs-0">ホーム</span></a>
          <span class="lnr lnr-alarm"></span><span class="header-word">通知</span>
          <span class="lnr lnr-envelope"></span><span class="header-word">メッセージ</span>
        </div>
        <div class="nav-right">
          <ul class="nav navbar-nav">
            <span class="lnr lnr-magnifier"></span>
            <a class="btn btn-default btn-sm btn-info" href= "/tweets/new"><span class="lnr lnr-pencil"></span><span class="header-word">ツイート</span></a>
          </ul>
        </div><!-- /.navbar-collapse -->
        <h1 class="lnr lnr-diamond top-icon"></h1>
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <% if notice %>
    <div class= "alert alert-success" role="alert">
      <p><%= notice %></p>
    </div>
  <% end %>
  <div class="contents container">
    <div class= "row top-row">
      <div class="col-md-4 col-sm-4">
        <section>
          <div class="dashboard dashboard-left">
            <h4>Twitter風webアプリ</h4>
            <p>このサイトはruby on railsの練習として作成されました。</p>
            <p>せっかくなので好きな本のタイトルでも書いていってね。</p>
          </div>
        </section>
      </div>
      <div class="col-md-8 col-sm-8">
        <%= yield %>
      </div>
    </div>
  </div>
  <footer>
    <p>Dive into Code</p>
  </footer>
</body>
</html>
